In [10]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split

housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [15]:
housing_df = pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df["target"] = housing["target"]
housing_df

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  Longitude  target
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88    -122.23   4.526
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86    -122.22   3.585
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85    -122.24   3.521
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85    -122.25   3.413
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85    -122.25   3.422
...       ...       ...       ...        ...         ...       ...       ...        ...     ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48    -121.09   0.781
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49    -121.21   0.771
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43    -121.22   0.923
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43    -121.32   0.847
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37    -121.24   0.894

[20640 rows x 9 columns]

In [16]:
from sklearn.linear_model import  Ridge

#setup random seed
np.random.seed(42)

x= housing_df.drop("target", axis=1)
y= housing_df["target"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

model = Ridge()
model.fit(x_train, y_train)

model.score(x_test, y_test)

0.5758549611440126

In [17]:
from sklearn.linear_model import  Lasso

#setup random seed
np.random.seed(42)

x= housing_df.drop("target", axis=1)
y= housing_df["target"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

model = Lasso()
model.fit(x_train, y_train)

model.score(x_test, y_test)

0.2841671821008396

In [20]:
from sklearn.linear_model import  Lasso

#setup random seed
np.random.seed(42)

x= housing_df.drop("target", axis=1)
y= housing_df["target"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

model = Lasso()
model.fit(x_train, y_train)

model.score(x_test, y_test)

0.2841671821008396

In [23]:
from sklearn.ensemble import RandomForestRegressor

#setup random seed
np.random.seed(42)

x= housing_df.drop("target", axis=1)
y= housing_df["target"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

model = RandomForestRegressor()
model.fit(x_train, y_train)

model.score(x_test, y_test)

0.8065734772187598

# SKLearn With Classifications Above was Regression

In [25]:
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1        0      150      0      2.3      0   0     1       1
1     37    1   2       130   250    0        1      187      0      3.5      0   0     2       1
2     41    0   1       130   204    0        0      172      0      1.4      2   0     2       1
3     56    1   1       120   236    0        1      178      0      0.8      2   0     2       1
4     57    0   0       120   354    0        1      163      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0        1      123      1      0.2      1   0     3       0
299   45    1   3       110   264    0        1      132      0      1.2      1   0     3       0
300   68    1   0       144   193    1        1      141      0      3.4      1   2     3       0
301   57    1   0       130   131    0        1      115      1      1.2      1   1     3       0
302   57    0   1       130   236    0        0      174      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [26]:
#Classifications  Method
from sklearn.svm import LinearSVC

#setup random seed
np.random.seed(42)

x= heart_disease.drop("target", axis=1)
y= heart_disease["target"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

model = RandomForestRegressor()
model.fit(x_train, y_train)

model.score(x_test, y_test)

0.5106393318965518

In [28]:
#Classifications  Method with random forest classifiier
from sklearn.ensemble import RandomForestClassifier

#setup random seed
np.random.seed(42)

x= heart_disease.drop("target", axis=1)
y= heart_disease["target"]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

model = RandomForestClassifier(n_estimators=100)
model.fit(x_train, y_train)

model.score(x_test, y_test)

0.8524590163934426

In [32]:
# Compare pridictions for the giving value

y_preds = model.predict(x_test)
np.mean(y_preds== y_test)

from sklearn.metrics import  accuracy_score

accuracy_score(y_test, y_preds)

0.8524590163934426