# End to End Scikit Learn Work Flow

In [ ]:
import pandas as pd
import numpy as np

:

In [4]:
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
#1. Get the data ready

# Create X Features matrix
x = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

In [6]:
# 2. Choose the right model and hyperparameters or estimator
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [8]:
clf.fit(x_train, y_train);

In [9]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
46,44,1,2,140,235,0,0,180,0,0.0,2,0,2
45,52,1,1,120,325,0,1,172,0,0.2,2,0,2
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2
10,54,1,0,140,239,0,1,160,0,1.2,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,59,0,0,174,249,0,1,143,1,0.0,1,0,2
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2
66,51,1,2,100,222,0,1,143,1,1.2,1,0,2
160,56,1,1,120,240,0,1,169,0,0.0,0,0,2
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3

In [10]:
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0], dtype=int64)

In [11]:
#4 Evaluate the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [12]:
clf.score(x_test, y_test)

0.8688524590163934

In [13]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.79      0.92      0.85        24
           1       0.94      0.84      0.89        37

    accuracy                           0.87        61
   macro avg       0.86      0.88      0.87        61
weighted avg       0.88      0.87      0.87        61

In [14]:
confusion_matrix(y_test, y_preds)

array([[22,  2],
       [ 6, 31]], dtype=int64)

In [15]:
accuracy_score(y_test, y_preds)

0.8688524590163934

In [16]:
#5. Improve a model
#Try a different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test)*100:.2f}%")
    print("")

trying model with 10 estimators...
Model accuracy on test set: 85.25%

trying model with 20 estimators...
Model accuracy on test set: 85.25%

trying model with 30 estimators...

Model accuracy on test set: 83.61%

trying model with 40 estimators...
Model accuracy on test set: 85.25%

trying model with 50 estimators...
Model accuracy on test set: 81.97%

trying model with 60 estimators...
Model accuracy on test set: 86.89%

trying model with 70 estimators...
Model accuracy on test set: 85.25%

trying model with 80 estimators...
Model accuracy on test set: 86.89%

trying model with 90 estimators...
Model accuracy on test set: 86.89%

In [17]:
# 6. Save a model and load it
import pickle
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [ ]:
#load model
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

: