In [179]:
import numpy as np
import pandas as pd
from matplotlib.image import imread

In [30]:
random_int = np.random.randint(10, size=(5,3))
ones = np.ones(3)

In [3]:
random_int

array([[9, 3, 6],
       [2, 6, 7],
       [7, 5, 5],
       [1, 5, 4],
       [8, 3, 4]])

In [4]:
np.unique(random_int)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [45]:
a1 = np.array([1,2,3])
a2 = np.random.randint(10, size=(2,3))

In [6]:
a1

array([1, 2, 3])

In [9]:
a2 = np.array([
     [1,2,3],
     [4,5,6],
     [6,7,8]
])

In [10]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [6, 7, 8]])

In [11]:
a1[0]

1

In [12]:
a1[1]

2

In [13]:
a2

array([[1, 2, 3],
       [4, 5, 6],
       [6, 7, 8]])

In [14]:
a2[0]

array([1, 2, 3])

In [15]:
a2[1]

array([4, 5, 6])

In [16]:
a2[2]

array([6, 7, 8])

In [17]:
a2[0][1]

2

In [18]:
four_dim = np.random.randint(10, size=(2,3,4,5))

In [19]:
four_dim

array([[[[6, 9, 1, 5, 4],
         [5, 1, 0, 4, 8],
         [0, 5, 3, 2, 5],
         [3, 2, 7, 7, 9]],

        [[6, 9, 7, 2, 7],
         [9, 7, 4, 4, 1],
         [3, 2, 8, 8, 0],
         [3, 1, 7, 4, 9]],

        [[5, 9, 3, 2, 4],
         [5, 7, 1, 1, 8],
         [1, 9, 6, 4, 1],
         [2, 1, 8, 9, 7]]],


       [[[6, 4, 1, 7, 9],
         [7, 0, 3, 0, 9],
         [1, 6, 7, 2, 6],
         [4, 0, 8, 3, 8]],

        [[0, 1, 5, 6, 9],
         [5, 7, 1, 1, 0],
         [0, 3, 3, 0, 8],
         [2, 5, 6, 7, 2]],

        [[2, 0, 3, 9, 7],
         [6, 0, 0, 4, 9],
         [4, 7, 9, 4, 6],
         [4, 6, 2, 0, 8]]]])

In [20]:
four_dim.shape, four_dim.ndim

((2, 3, 4, 5), 4)

In [28]:
four_dim[:, :, :,:2]

array([[[[6, 9],
         [5, 1],
         [0, 5],
         [3, 2]],

        [[6, 9],
         [9, 7],
         [3, 2],
         [3, 1]],

        [[5, 9],
         [5, 7],
         [1, 9],
         [2, 1]]],


       [[[6, 4],
         [7, 0],
         [1, 6],
         [4, 0]],

        [[0, 1],
         [5, 7],
         [0, 3],
         [2, 5]],

        [[2, 0],
         [6, 0],
         [4, 7],
         [4, 6]]]])

# Manipulate and Compare different Arrays

In [29]:
a1

array([1, 2, 3])

In [31]:
ones

array([1., 1., 1.])

In [32]:
a1+ones

array([2., 3., 4.])

In [33]:
a1/ones

array([1., 2., 3.])

In [41]:
#remove decimels and give floor values
div = a1//a2

In [40]:
div

array([[0, 0, 0],
       [1, 0, 1]])

In [42]:
reminders = a1 % 2

In [43]:
reminders

array([1, 0, 1], dtype=int32)

In [46]:
a4 = np.random.randint(20, size=(2,5))

In [47]:
a4

array([[ 4, 11, 11,  9, 12],
       [ 7,  4, 17, 12,  7]])

In [48]:
a4*2.5

array([[10. , 27.5, 27.5, 22.5, 30. ],
       [17.5, 10. , 42.5, 30. , 17.5]])

In [58]:
big_array = np.random.random(10000)

In [59]:
big_array

array([0.65335187, 0.78632233, 0.34431683, ..., 0.218677  , 0.11911347,
       0.64768092])

In [60]:
big_array[:10]

array([0.65335187, 0.78632233, 0.34431683, 0.69297253, 0.64528377,
       0.31468619, 0.55546731, 0.42085202, 0.68614155, 0.11559917])

In [61]:
%timeit sum(big_array)
%timeit np.sum(big_array)

3.67 ms ± 578 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
30.2 µs ± 615 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [62]:
a1.shape

(3,)

In [75]:
a2.shape
a2

array([[6, 1, 6],
       [9, 9, 8]])

In [77]:
a12 = np.random.randint(1, 50, 12)

In [78]:
a12

array([34, 13, 25,  6, 15, 25, 28, 46,  5, 21, 18, 49])

In [82]:
a12_reshape = a12.reshape(3,4)

In [83]:
a12_reshape

array([[34, 13, 25,  6],
       [15, 25, 28, 46],
       [ 5, 21, 18, 49]])

In [85]:
a12_reshape2 = a12_reshape.reshape(2,6)

In [86]:
a12_reshape2

array([[34, 13, 25,  6, 15, 25],
       [28, 46,  5, 21, 18, 49]])

In [87]:
a12_reshape2_reverse = a12_reshape2.T

In [88]:
a12_reshape2_reverse

array([[34, 28],
       [13, 46],
       [25,  5],
       [ 6, 21],
       [15, 18],
       [25, 49]])

# Dot Product

In [89]:
mat1 = np.random.randint(10, size=(5,3))

In [90]:
mat2 = np.random.randint(10, size=(5,3))

In [91]:
mat1

array([[8, 6, 2],
       [4, 1, 3],
       [7, 8, 8],
       [3, 2, 7],
       [0, 5, 2]])

In [93]:
# elementwise multiplication its called Hadamard product
mat1 * mat2

array([[ 0,  0, 12],
       [36,  0,  9],
       [49, 48, 24],
       [ 6,  4, 21],
       [ 0, 30, 16]])

In [94]:
mat1.shape, mat2.shape

((5, 3), (5, 3))

In [95]:
mat1.T

array([[8, 4, 7, 3, 0],
       [6, 1, 8, 2, 5],
       [2, 3, 8, 7, 2]])

In [105]:
mat1.T.shape, mat2.shape

((3, 5), (5, 3))

In [108]:
mat3 = np.dot(mat1, mat2.T)

In [109]:
mat3

array([[ 12,  78,  98,  34, 116],
       [ 18,  45,  43,  19,  62],
       [ 48,  87, 121,  54, 168],
       [ 42,  48,  54,  31,  92],
       [ 12,   6,  36,  16,  46]])

# Nut Butter Sales Example Practical

In [110]:
sales_amounts = np.random.randint(20, size=(5,3))

In [111]:
sales_amounts

array([[ 3,  5,  0],
       [ 7, 14, 16],
       [ 8,  6,  8],
       [19,  6, 15],
       [13,  2,  5]])

In [119]:
weekly_sales = pd.DataFrame(sales_amounts, index=("Mon", "Tue", "Wed", "Thu", "Fri"),
                           columns=("Nuts", "Peanet", "Butter"))
weekly_sales

     Nuts  Peanet  Butter
Mon     3       5       0
Tue     7      14      16
Wed     8       6       8
Thu    19       6      15
Fri    13       2       5

In [120]:
prices = np.array([10,8,2])

In [121]:
prices

array([10,  8,  2])

In [132]:
butter_prices = pd.DataFrame(prices, columns=["Price"], index=["Nuts", "Peanet", "Butter"])

In [133]:
butter_prices

        Price
Nuts       10
Peanet      8
Butter      2

In [139]:
weekly_sales.shape, butter_prices.shape

((5, 3), (3, 1))

In [140]:
weekly_sales.T.shape

(3, 5)

In [144]:
daily_sales = butter_prices.T.dot(weekly_sales.T)

In [146]:
daily_sales

       Mon  Tue  Wed  Thu  Fri
Price   70  214  144  268  156

In [147]:
weekly_sales

     Nuts  Peanet  Butter
Mon     3       5       0
Tue     7      14      16
Wed     8       6       8
Thu    19       6      15
Fri    13       2       5

In [149]:
weekly_sales["Total ($)"] = daily_sales.T

In [150]:
weekly_sales

     Nuts  Peanet  Butter  Total ($)
Mon     3       5       0         70
Tue     7      14      16        214
Wed     8       6       8        144
Thu    19       6      15        268
Fri    13       2       5        156

# Numpy Sorting

In [151]:
arr_sort = np.random.randint(10, size=(5,3))

In [152]:
arr_sort

array([[7, 8, 9],
       [0, 0, 8],
       [5, 1, 2],
       [7, 6, 1],
       [2, 2, 2]])

In [160]:
sorted = np.sort(arr_sort)

In [161]:
sorted

array([[7, 8, 9],
       [0, 0, 8],
       [1, 2, 5],
       [1, 6, 7],
       [2, 2, 2]])

In [162]:
sorted_arg = np.argsort(arr_sort)

In [163]:
sorted_arg

array([[0, 1, 2],
       [0, 1, 2],
       [0, 1, 2],
       [0, 1, 2],
       [0, 1, 2]], dtype=int64)

In [165]:
# giving index that which index is higher in a row
np.argmax(sorted_arg, axis=0)

array([0, 0, 0], dtype=int64)

In [169]:
# giving index that which index is higher in a row
np.argmax(sorted, axis=1)

array([2, 2, 2, 2, 0], dtype=int64)

# Numpy in Action wtih Images

In [178]:
%%html
<img src="images/panda.png" width="200px" height="200px" />

In [180]:
panda = imread("images/panda.png")

In [182]:
panda.size, panda.shape, panda.ndim

(24465000, (2330, 3500, 3), 3)

In [183]:
panda

array([[[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       [[0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        [0.05490196, 0.10588235, 0.06666667],
        ...,
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765],
        [0.16470589, 0.12941177, 0.09411765]],

       ...,

       [[0.13333334, 0.07450981, 0.05490196],
        [0.12156863, 0.0627451 , 0.04313726],
        [0.10980392, 0.05098039, 0.03137255],
        ...,
        [0.02745098, 0.02745098, 0.03529412],
        [0.02745098, 0.02745098, 0.03529412],
        [0.02745098, 0.02745098, 0.03529412]],

       [[0.13333334, 0.07450981, 0.05490196],
        [0.12156863, 0.0627451 , 0.04313726],
        [0.12156863, 0.0627451 , 0.04313726],
        ...,
        [0.02352941, 0.02352941, 0.03137255],
        [0.02352941, 0.02352941, 0.03137255],
        [0.02352941, 0.02352941, 0.03137255]],

       [[0.13333334, 0.07450981, 0.05490196],
        [0.12156863, 0.0627451 , 0.04313726],
        [0.12156863, 0.0627451 , 0.04313726],
        ...,
        [0.02352941, 0.02352941, 0.03137255],
        [0.02352941, 0.02352941, 0.03137255],
        [0.02352941, 0.02352941, 0.03137255]]], dtype=float32)